@import '../../assets/tokens.css';

button {
  background-color: var(button-background-color);
  border-radius: var(button-border-radius);
  display: var(display);
  align-items: var(align-items);
  justify-content: var(justify-content);
  text-decoration: var(text-decoration);
  padding-bottom: var(padding-bottom);
  padding-left: var(padding-left);
  padding-right: var(padding-right);
  padding-top: var(padding-top);
  font-family: var(font-family);
  font-size: var(font-size);
  font-weight: var(font-weight);
  color: var(button-text-color);
  font-size: var(button-font-size);
  line-height: var(line-height);
  border: var(border);
}

.button-icon {
  width: var(width);
  height: var(height);
}

.button-test {
  margin-right: var(margin-right);
  margin-left: var(margin-left);
}
